.box{
    float: none;
    background-color: rgba(4, 40, 66,0.8);
    width: 60vw;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 110px 110px 110px 110px;
  }
  button{
    height: 50px;
    width: auto;
    padding: 20px;
    border-radius: 20px;
  }
:active, button:hover{
  color: gray;
}

  h2{
    align-content: center;
    color: white;
  }

  .content{
    align-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
 
  #container{
    background-image: url('../styles/assets/techBg.jpg');
    background-repeat: auto;
    background-size:cover;
    height: 100vh;
    height: 100vw;
  }



   
 