.box{
    float: none;
    background-color: rgba(4, 40, 66,0.8);
    width: 60vw;
    height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 110px 110px 110px 110px;
  }
  button{
    height: 50px;
    width: auto;
    padding: 20px;
  }
  h2{
    align-content: center;
    color: white;
  }

  div{
    align-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  #container{
    height:auto;
  }
