.split {
    display: flex;
    flex-direction: row;
    height:100vh;
    width: 100%;
    direction:horizontal;
}

.gutter {
    background-color: rgb(15, 1, 1);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}


#col1{
    background-color: rgb(17, 51, 71);
    
    flex: scroll;
    max-width: 100%
}

#col2{
    background-image: url('../styles/Assets/CAR.png');
    background: size 150px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(139, 192, 223);
    /*min-width: 45vw;*/
    max-width: 100%;
    flex: scroll;
    float: right;

}