table{
    padding-top: 10px;
    margin: auto;
    width: 80% ;
    border: 10px solid #7285a5;
    height: auto;
    background-color: #959799;
    border: 5px solid black;
 }
tbody{
    border: 5px solid black;
}
 th{
    background-color: #438bff;
    border: 5px solid black;
 }
 td{
    background-color: gray;
 }

 .active, td:hover{
    background-color: rgb(206, 212, 216);
 }

 #parentProjects{
    background-color: rgb(117, 117, 117);
    height: 100vh;
    width: auto;
 }