.split {
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
    direction:horizontal;
}

.gutter {
    background-color: rgb(15, 1, 1);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}


#col1{
    background-color: rgb(17, 51, 71);
    min-height: 100%;
    flex: scroll;
    max-width: 100%
}

#col2{
    background-image: url('../assets/CAR.png');
    background: size 150px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(139, 192, 223);
    min-height: 100%;
    max-width: 100%;
    flex: scroll;
    float: right;

}
.button-nav-displayer{
    min-height: 60%;
    max-width: 100px;
}